body{
    font-family: "googleapis", sans-serif;
    margin:0;
}

header{
    background:#e5e7eb;
    padding:20px 40px;
}
.nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:100px;
}

.logo h1{
    margin:0;
    color:#1f2937;
}

.logo p{
    margin:0;
    color:#6b7280;
    font-size:14px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:30px;
    margin:0;
    padding:0;
}

nav a{
    background:#eeeeee;
    padding:10px 20px;
    border-radius:8px;
    text-decoration:none;
    color:#333;
    transition:0.3s;
}

nav a.active{
    background:#0d9488;
    color:white;
}

nav a:hover{
    background:#0d9488;
    color:white;
    transform:scale(1.09) translateY(-3px);
    box-shadow:0px 5px 15px rgba(0,0,0,0.2);
}

.explore-nav{
    display:flex;
    margin: 0 auto;
    justify-content:center;
    align-items: center;
    gap:40px;
    background:#e5e7eb;
    padding:40px;
}

.explore-box{
    background:#0d9488;
    color:white;
    padding:25px 40px;
    font-size:22px;
    border-radius:12px;
    text-decoration:none;
    transition:0.3s;
}

.explore-box:hover{
    background:#0f766e;
    transform:scale(1.05);
}