footer{
    background:#0d9488;
    color:white;
    padding:20px 20px;
    }
    

    
    .footer-container{
    display:flex;
    justify-content:space-between;
    gap:40px;
    max-width:700px;
    margin:auto;
    }
    
    .footer-left,
    .footer-center,
    .footer-right{
    flex:1;
    }
    

    #follow-us{
    margin-bottom:10px;
    text-align: center;
    }
    

    
    footer ul{
    list-style:none;
    padding:0;
    }
    
    footer li{
    margin-bottom:10px;
    }
    

    footer a{
    text-decoration:underline;
    color:#d1fae5;
    }
    
    footer a:hover{
    transform: translate(-6px);
    transform: scale(1.09);
    color:#ccfbf1;
    text-shadow:0 0 8px #ccfbf1;
    }
    
    .footer-logo{
        width:30px;
        background:white;
        border-radius:75%;
        padding:5px;
        }
    
    .footer-logo:hover{
    transform:scale(1.09);
    transform: translate(-3px);
    color:#ccfbf1;
    box-shadow:0 0 8px #ccfbf1;
    }
    


#nz-travel{
    text-align: center;
    margin-top: 20px;
    color: #ccfbf1;
}